body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7vw;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
}

.game-container.hidden {
    display: none;
}
